<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourthwardmobile.android.movingpictures">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:name=".MovingPicturesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".activities.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.MovieDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            >
        </activity>
        <activity
            android:name=".activities.PersonDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MovieDetailActivity"
            android:theme="@style/AppTheme.PersonDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.ReviewsActivity"
            android:label="@string/title_activity_movie_reviews"
            android:parentActivityName=".activities.MovieDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonFilmographyTabActivity"
            android:label="@string/title_activity_filmography"
            android:parentActivityName=".activities.PersonDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonPhotosActivity"
            android:label="@string/title_activity_person_photos"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PersonDetailActivity"
            android:theme="@style/AppTheme.PersonPhotoDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonPhotoPagerActivity"
            android:label="@string/title_activity_person_single_photo"
            android:parentActivityName=".activities.PersonPhotosActivity"
            android:theme="@style/AppTheme.PersonPhotoPager">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonPhotosActivity" />
        </activity>
        <activity
            android:name=".activities.ShowAllListActivity"
            android:label="@string/title_activity_movie_cast"
            android:parentActivityName=".activities.MovieDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <provider
            android:name=".data.FavoritesProvider"
            android:authorities="com.android.fourthwardmobile.movingpictures" />
        <provider
            android:name=".data.MediaSuggestionProvider"
            android:authorities="com.android.fourthwardmobile.movingpictures.mediasuggestion"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.TvDetailActivity"
            android:label="@string/title_activity_tv_detail"
            android:parentActivityName=".activities.PersonFilmographyTabActivity"
            android:theme="@style/AppTheme.TvShowDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonFilmographyTabActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d7b07e10152213ba68ccb9155de07f4ee46527b0" />

        <activity android:name=".activities.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.CreateAccountActivity"></activity>
    </application>

</manifest>