<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.fourthwardcoder.popularmovies" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.PopularMoviesMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PopularMoviesMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PopularMoviesMainActivity" />
>
        </activity>
        <activity
            android:name=".activities.PersonDetailActivity"
            android:label="@string/title_activity_actor_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MovieDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.ReviewsActivity"
            android:label="@string/title_activity_movie_reviews"
            android:parentActivityName=".activities.MovieDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonFilmographyTabActivity"
            android:label="@string/title_activity_filmography"
            android:parentActivityName=".activities.PersonDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonPhotosActivity"
            android:label="@string/title_activity_person_photos"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PersonDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonDetailActivity" />
        </activity>
        <activity
            android:name=".activities.PersonPhotoPagerActivity"
            android:label="@string/title_activity_person_single_photo"
            android:parentActivityName=".activities.PersonPhotosActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PersonPhotosActivity" />
        </activity>
        <activity
            android:name=".activities.CastListActivity"
            android:label="@string/title_activity_movie_cast"
            android:parentActivityName=".activities.MovieDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fourthwardcoder.popularmovies.activities.MovieDetailActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:name=".data.MovieProvider"
            android:authorities="com.android.fourthwardcoder.popularmovies" />

        <activity
            android:name=".activities.TvDetailActivity"
            android:label="@string/title_activity_tv_detail"
            android:parentActivityName=".activities.PersonFilmographyTabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fourthwardcoder.popularmovies.activities.PersonFilmographyTabActivity" />
        </activity>
    </application>

</manifest>
